.r-bg-container4 {
  background-color: #fefff6;
  background-size: cover;
  height: 100vh;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
.r-container41 {
  display: flex;
  justify-content: space-around;
  margin-top: 110px;
  margin-bottom: 100px;
}
.r-arrow1 {
  margin-top: 150px;
}
.r-center1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.r-container42 {
  background-color: #b0eeaa;
  width: 1000px;
  padding-left: 30px;
  padding-right: 30px;
  height: 60px;
  margin-bottom: 0px;
  display: flex;
}
.r-bg-container5 {
  background-color: #282727;
  height: 60vh;
  background-size: cover;
  margin-bottom: 0px;
}
.r-container51 {
  background-color: #b0eeaa;
  width: 1000px;
  height: 130px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}
.r-h41 {
  color: #000000;
}
.hr-line {
  width: 165px;
  border-width: 4px 0px 0px 0px;
  border-color: #000000;
  margin-left: 3px;
  margin-top: 15px;
}
.r-about {
  background-image: url("https://res.cloudinary.com/djysychfq/image/upload/v1716820081/qsujzio5aoxb6bngdku5.png");
  height: 60px;
  width: 438px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
}
.r-btn11 {
  background-color: #000000;
  border-radius: 30px;
  width: 150px;
  height: 60px;
  color: #ffffff;
  border-width: 0px;
}
.r-line {
  margin-top: -20px;
  height: 130px;
}
.r-container52 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}
.r-p51 {
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 10px;
}
.r-h51 {
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 6px;
}
.r-decor {
  margin-top: -10px;
  margin-bottom: 15px;
}
.r-row {
  display: flex;
  flex-direction: column;
}
.r-row5 {
  display: flex;
}

.r-k {
  margin-right: 10px;
}
.r-img5 {
  margin-left: 20px;
  height: 20px;
  margin-top: 10px;
}
.r-bg-container6 {
  background-color: #000000;
  background-size: cover;
  height: 8vh;
  padding-right: 100px;
  padding-left: 5px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.r-h2 {
  color: #000000;
  font-family: "roboto";
  text-align: center;
}
.r-p2 {
  font-size: 20px;
  width: 650px;
  text-align: center;
}
.r-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.rectangle-r {
  background-image: url("https://res.cloudinary.com/djysychfq/image/upload/v1716820081/qsujzio5aoxb6bngdku5.png");
  display: flex;
  justify-content: flex-end;
  width: 440px;
  height: 60px;
}
