.c-header-container {
  background-image: url("https://res.cloudinary.com/djysychfq/image/upload/v1716861286/jjknqwpwyi0yubmt3nn1.png");
  background-size: cover;
  height: 40vh;
  padding-top: 20px;
  padding-right: 20px;
}
.c-container12 {
  background-image: url("https://res.cloudinary.com/djysychfq/image/upload/v1716861496/xdlqftcwdl7njnxruuzf.png");
  width: 310px;
  margin-top: -100px;
  display: flex;
  justify-content: flex-end;
}
.c-man {
  height: 295px;
}
.c-container11 {
  display: flex;
  justify-content: space-between;
}
.c-con121 {
  display: flex;
  justify-content: space-between;
  width: 310px;
}
.c-bg-container1 {
  background-color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-bottom: 150px;
}
.c-p1 {
  background-color: #f0fddc;
  width: 160px;
  height: 40px;
  border-radius: 25px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}
.c-h1 {
  color: #000000;
  font-family: "roboto";
  font-size: 25px;
  text-align: center;
  font-weight: 600;
  text-align: left;
  margin-bottom: 60px;
}
.c-center {
  text-align: center;
}
.c-container13 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form-con1 {
  display: flex;
  flex-direction: column;
}
.label1 {
  font-size: 20px;
  font-weight: 500;
}
.input1 {
  width: 450px;
  height: 40px;
  margin-top: 5px;
  border-width: 0px;
  border-color: #ffffff;
  box-shadow: #c8ccc9 0px 1px 5px 0px;
  border-radius: 10px;
  margin-bottom: 40px;
}
.input2 {
  width: 450px;
  height: 100px;
  margin-top: 5px;
  border-width: 0px;
  border-color: #ffffff;
  box-shadow: #c8ccc9 0px 1px 5px 0px;
  border-radius: 10px;
  margin-bottom: 40px;
}
.c-btn {
  background-color: #000000;
  border-radius: 20px;
  width: 130px;
  height: 40px;
  color: #ffffff;
  border-width: 0px;
}
.c-line {
  margin-left: 50px;
  margin-right: 50px;
}
.c-container14 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
